@model List<travelingExperience.Models.Reserve>

<h2>My Reservations</h2>

@if (Model.Any())
{
    <table>
        <thead>
            <tr>
                <th>Start Destination</th>
                <th>End Destination</th>
                <th>Reserved Seats</th>
                <th>Reservation Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var travel in Model)
            {
              
                    <tr>
                        <td>@travel.Travel.StartDestination</td>
                        <td>@travel.Travel.EndDestination</td>
                        <td>@travel.ReservedSeats</td>
                        <td>@travel.ReservationDate</td>
                    <td>
                        <form method="post" asp-action="CancelReservation" asp-route-reservationId="@travel.ReservationID">
                            <button type="submit">Cancel Reservation</button>
                        </form>
                    </td>
                    </tr>
               
            }
        </tbody>
    </table>
}
else
{
    <p>You haven't made any reservations yet.</p>
}

