@model ApplicationUser

<h1>@Model.UserName Profile</h1>

<div>
    <p><strong>Name:</strong> @Model.Name</p>
    <p><strong>Surname:</strong> @Model.SName</p>
    <p><strong>Username:</strong> @Model.UserName</p>
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>Number:</strong> @Model.Number</p>
    <p><strong>Age:</strong> @Model.Age</p>
   
</div>

